{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}counters/screen.css" />
        <title>{{ title }}</title>
    </head>
    <body>
      <div class="menu-outer">
        {% include "counters/menu.html" %}       
      </div>
      <div id="container">
        <h1>Not implemented</h1>
      </div>
    </body>
</html>

