<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}counters/screen.css" />
        <title>{{ title }}</title>
    </head>
    <body>
      <img src="{{url}}?period=2weeks" class="" alt="" />
      <img src="{{url}}?period=month" class="" alt="" />
      <img src="{{url}}?period=3months" class="" alt="" />
      <img src="{{url}}?period=year" class="" alt="" />
      <img src="{{url}}?period=all" class="" alt="" />
    </body>
</html>
