{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}counters/screen.css" />
        <title>{{ title }}</title>
    </head>
    <body>
      <h3>Tables @ {{ sample_date }} </h3>

      <div style="float: left;">
        <div>
          <p>
            {% if prev_day %}
            <a href="{% url tables sample=prev_day.id %}">{{prev_day.date.date}}</a>
            {% endif %}

            {% if next_day %}
            <a href="{% url tables sample=next_day.id %}">{{next_day.date.date}}</a>
            {% endif %}
          </p>

          <div>
            <div id="table">
              {% render_table total_table %}
            </div>
            <div id="table">
              {% render_table table %}
            </div>
          </div> 
        </div> 

        <div>
          <a href="{% url chart_details view='chart_tables' kind='size' %}">
            <img src="{% url chart_tables kind='size' %}" class="" alt="" />
          </a>
        </div> 
        <div>
          <a href="{% url chart_details view='chart_tables' kind='regions' %}">
            <img src="{% url chart_tables kind='regions' %}" class="" alt="" />
          </a>
        </div> 
        <div>
          <a href="{% url chart_details view='chart_tables' kind='regionSizeAvg' %}">
            <img src="{% url chart_tables kind='regionSizeAvg' %}" class="" alt="" />
          </a>
        </div> 
        <div>
          <a href="{% url chart_details view='chart_tables' kind='hfileCount' %}">
            <img src="{% url chart_tables kind='hfileCount' %}" class="" alt="" />
          </a>
        </div> 
        <div>
          <a href="{% url chart_details view='chart_tables' kind='oldestHFile' %}">
            <img src="{% url chart_tables kind='oldestHFile' %}" class="" alt="" />
          </a>
        </div> 
      </div> 
    </body>
</html>
