{% load render_table from django_tables2 %}
<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="{{ STATIC_URL }}django_tables2/themes/paleblue/css/screen.css" />
        <link rel="stylesheet" href="{{ STATIC_URL }}counters/screen.css" />
        <title>{{ title }}</title>
    </head>
    <body>
      <h3>{{ name }} @ {{ sample }} </h3>
      <p>
        <div id="table">
          {% render_table table %}
        </div>
      </p>
      <p>
        <div id="table">
          {% render_table cf_table %}
        </div>
      </p>
    </body>
</html>
