#container {
    position: relative;
}

#table {
    float: left;
    padding: 10px;
    padding-right: 20px;
}

#filters {
    float: left;
    padding: 10px;
    white-space: nowrap;
    font-size: 80%;
}

#detail_table {
    float: left;
    padding: 10px;
}

#counters {
    float: left;
    padding: 10px;
}

#menu {
    padding: 10px;
}

.menuitems {
    margin-bottom: 0;
    font-size: 80%;
}
